#blur :root {
  --base: #f168cf;
  --spacing: 10px;
  --blur: 10px;
}

#blur img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

#blur .h1 {
  color: var(--base);
}

#blur :focus {
  outline: none;
}

#blur button {
  cursor: pointer;
  height: 50px;
  height: 39px;
  border-radius: 50%;
  padding: 0.5em 1em;
  border: thin solid grey;
}

#blur button:hover {
  background-color: beige;
}

#blur {
  text-align: center;
  background: #fdfdfd;
  color: rgb(63, 37, 179);
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

#blur .controls {
  margin-bottom: 50px;
}

#blur input {
  width: 100px;
}