/* ---- reset ------*/

html,
body,
div,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

#home {
  background: url('../img/khbackgrounds4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -120px;
}

#typewriter {
  position: absolute;
  color: #333;
  transform: rotate(1.67deg);
  left: 19.5%;
}

a {
  position: relative;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
}

header {
  position: fixed;
  width: 90%;
  padding: 0em;
  margin: 0 4%;
  text-align: center;
  z-index: 100;
}

.nav {
  font-family: "Unica One";
  font-size: 1.0em;
  color: rgb(230, 215, 215);
  border-radius: 0 0 50% 50%;
  text-shadow: 0 1px 0 #000;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  width: 95%;
  background-color: rgba(235, 230, 221, 0.801);
  position: relative;
}
.nav:hover {
  background-color: rgba(255, 254, 253, 0.6);
}
.nav:hover .effect {
  left: -6.25%;
  display: block;
}
.nav a {
  position: relative;
  float: left;
  padding: .5em 0 2em;
  width: 12.5%;
  text-decoration: none;
  color: #393939;
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -o-transition: .7s;
  -ms-transition: .7s;
  transition: .7s;
}

.nav a:hover {
  color: #fc7b04;;
}

.nav .effect {
  display: none;
  position: absolute;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  -ms-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.nav a:nth-child(1):hover~.effect {
  left: 6.25%;
}

.nav a:nth-child(2):hover~.effect {
  left: 18.75%;
}

.nav a:nth-child(3):hover~.effect {
  left: 31.25%;
}

.nav a:nth-child(4):hover~.effect {
  left: 43.75%;
}

.nav a:nth-child(5):hover~.effect {
  left: 56.25%;
}

.nav a:nth-child(6):hover~.effect {
  left: 68.75%;
}

.nav a:nth-child(7):hover~.effect {
  left: 81.25%;
}

.nav a:nth-child(8):hover~.effect {
  left: 93.75%;
}

/* ----- dot example -----*/

.ph-dot-nav:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: #039bc9b4;
  bottom: 38%;
}

.ph-dot-nav a:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  bottom: 48%;
  left: 50%;
  background: #039bc9b4;
  border-radius: 100%;
}

.ph-dot-nav .effect {
  width: 10px;
  height: 10px;
  bottom: 42%;
  margin-left: -5px;
  background: #039bc9b4;
  border-radius: 100%;
}

/* NEW typewriter */

/* Google Fonts */

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
/* Global */

.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, .75);
  font-size: 180%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.line-2 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, .75);
  font-size: 180%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;

}

.line-3 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, .75);
  font-size: 180%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}
/* Animation */

.anim-typewriter {
  animation: typewriter 3s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

.anim-typewriter2 {
  animation: typewriter 3s steps(44) 4s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

.anim-typewriter3 {
  animation: typewriter 4s steps(44) 10s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }
  to {
    border-right-color: transparent;
  }
}

#gallery {
  background: rgb(235, 230, 221);
  font-family: 'Roboto', sans-serif;
  background-size: 100% 100%;
}

#gallery header {
  border: 1px solid rgb(5, 5, 5);
  padding: 0em;
  Height: 50px;
  text-align: center;
  width: auto;
}

#gallery div.images {
  margin: 5px;
  border: 1px solid #ddd;
  background: rgb(245, 247, 248);
  float: left;
  width: 250px;
  -moz-box-shadow: 2px 2px 3px 0px #aaa;
  -webkit-box-shadow: 2px 2px 3px 0px #aaa;
  -o-box-shadow: 2px 2px 3px 0px #aaa;
  box-shadow: 2px 2px 3px 0px #aaa;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#gallery div.images:hover {
  -moz-box-shadow: 2px 2px 3px 0px #999;
  -webkit-box-shadow: 2px 2px 3px 0px #999;
  -o-box-shadow: 2px 2px 3px 0px #999;
  box-shadow: 2px 2px 3px 0px #999;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#999, Direction=134, Strength=3);
}

#gallery div.images:hover .description {
  color: #2d2d2d;
}

#gallery div.images img {
  width: 250px;
  height: auto;
  padding: 5px;
}

#gallery p.description {
  color: #777;
  padding: 15px;
  text-align: center;
}

#gallery div.clear {
  clear: both;
}

#gallery p.information {
  color: #888;
  text-align: center;
  margin: 20px 0;
}
#gallery img:hover {
  -webkit-transform: scale(2,2);
  -moz-transform: scale(2,2);
  transform: scale(2,2);
  position: absolute;
  z-index: 99999;
}
#cad .pictures{
  text-align: center;
}
