/* Print CSS */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
  }
  html {
    color: black;
    background:  rgb(101, 159, 185);
    -webkit-text-size-adjust: 100%;
    line-height: 1.4;
    font-size: 10pt;
    font-family: sans-serif;
    padding: 0;
    min-width: 8.75in;
  }
  body {
    width: 8.5in;
    height: 10in;
    margin: 1in .125in .5in .125in;
    padding: .5in;
    background: white;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: rgba(0,0,0,.15) 1px 5px 10px;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: .25em 0;
    line-height: 1.2;
    font-weight: 700;
  }
  p {
    margin: 0;
  }
  nav {
    margin: 1em 0;
    text-align: center;
  }
  a {
    color: currentColor;
    text-decoration: none;
    display: inline-block;
    padding: 0 .5em;
    font-size: 120%;
  }
  @media (min-width: 8.75in) {
    body {
      margin: 1in auto .5in auto;
    }
  }
  @media print {
    html {
      min-width: none;
    }
    html,
    body {
      background: transparent;
    }
    body {
      margin: 0 auto;
      padding: .5in;
      border: none;
      box-shadow: none;
    }
    :not(nav) > [href]:not([href^="#"]):after {
      content: ' ('attr(href)') ';
    }
  }
  
  /* Resume Style */
  html {
    font-family: 'Source Sans Pro', sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', sans-serif;
  }
  h1, h2 {
    text-align: center;
  }
  h1 {
    font-weight: 900;
    font-size: 400%;
    margin: 0;
  }
  h2 {
    margin-top: 0;
    font-size: 220%;
    font-weight: 300;
    color: rgb(0,200,255);
    letter-spacing: -.03em;
  }
  h3 {
    margin-top: .75em;
  
    font-size: 200%;
  }
  h4 {
    margin-top: .5em;
    font-weight: 500;
    font-size: 160%;
  }
  h4 span {
    margin: 0 0 .25em .25em;
    font-size: 75%;
    font-style: italic;
    font-weight: 300;
    color: #666;
  }
  aside {
    float: left;
    width: 33.33%;
  }
  p {
    font-size: 110%;
  }
  ul {
    margin-top: 0;
    padding: 0 0 0 2em;
  }
  [data-button] {
    position: absolute;
    top: .2in;
    left: .125in;
  }
  @media (min-width: 8.75in) {
    [data-button] {
      left: calc(50% - (8.5in/2));
    }
  }
  @media print {
    [data-button] {
      display: none;
    }
  }