

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background: rgb(235, 230, 221);
  font-family: 'Roboto', sans-serif;
  background-size: 100% 100%;
}

header {
  border: 1px solid rgb(5, 5, 5);
  padding: 0em;
  Height: 50px;
  text-align: center;
  width: auto;
}

.gohome {
  position: absolute;
  margin: 10px;
  color: #000;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 4em;
  font-family: 'Arvo', serif;
  background-color: rgb(235, 230, 221) !important;
}

.gohome a {
  color: #039bc9b4  !important;
}

.gohome:hover {
  background-color: rgba(255, 255, 255, 0.705) !important;
}

.nav ul {
  position: absolute;
  display: none;
  list-style-type: none;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1em;
  -webkit-padding-start: 0;
}

.nav ul li:hover {
  background: rgba(255, 255, 255, 1);
}

.nav ul li {
  padding: 0px;
  margin: 0;
}

.nav {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.inline-items {
  margin-top: 0;
}

.inline-items>li {
  display: inline-block;
  width: 15%;
  margin-left: 0;
  border-left: 1px solid black;
  padding-left: 0;
  padding-right: 0;
  transition: transform 3s;
}

.inline-items>li:first-child {
  margin-left: 0;
  border: none;
  padding-left: 0;
  padding-right: 10px;
}

.inline-items>li:last-child {
  padding-right: 0;
}

.fadein {
  transition: opacity 4.0s ease;
  opacity: 1.0;
}

a {
  text-decoration: none;
  color: inherit;
}

h2.title {
  color: #039bc9b4;
  text-align: center;
  font-size: 45px;
  margin: 40px 0;
}

div.container {
  width: 1040px;
  margin: auto;
}

div.images {
  margin: 5px;
  border: 1px solid #ddd;
  background: rgb(245, 247, 248);
  float: left;
  width: 250px;
  -moz-box-shadow: 2px 2px 3px 0px #aaa;
  -webkit-box-shadow: 2px 2px 3px 0px #aaa;
  -o-box-shadow: 2px 2px 3px 0px #aaa;
  box-shadow: 2px 2px 3px 0px #aaa;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

div.images:hover {
  -moz-box-shadow: 2px 2px 3px 0px #999;
  -webkit-box-shadow: 2px 2px 3px 0px #999;
  -o-box-shadow: 2px 2px 3px 0px #999;
  box-shadow: 2px 2px 3px 0px #999;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#999, Direction=134, Strength=3);
}

div.images:hover .description {
  color: #2d2d2d;
}

div.images img {
  width: 250;
  height: auto;
  padding: 5px;
}

p.description {
  color: #777;
  padding: 15px;
  text-align: center;
}

div.clear {
  clear: both;
}

p.information {
  color: #888;
  text-align: center;
  margin: 20px 0;
}

@media screen and (max-width: 1045px) {
  div.container {
    width: 780px;
  }
}

@media screen and (max-width: 785px) {
  div.container {
    width: 560px;
  }

  div.images {
    margin: 15px;
  }
}

@media screen and (max-width: 575px) {
  div.container {
    width: 350px;
  }

  div.images {
    margin: 10px 5px;
    width: 350px;
  }
}

@media screen and (max-width: 405px) {
  div.container {
    width: 280px;
  }

  div.images {
    width: 280px;
  }
}