html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: rgb(235, 230, 221);
}

#main {
    padding: 1em 3em;
}

#main {
    width: 100%;
}

#main div img {
    width: 12em;
    display: inline-block;
    padding: 0 2em;
}

#main div div {
    width: 75%;
    display: inline-block;
    padding: 0 2em;
    vertical-align: super
}

.gohome {
    position: absolute;
    margin: 10px;
    color: #000;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 4em;
    font-family: 'Arvo', serif;
    background-color: rgb(235, 230, 221) !important;
}

.gohome a {
    color: #039bc9b4 !important;
    text-decoration: none;
}

.gohome:hover {
    background-color: rgba(255, 255, 255, 0.705) !important;
}